{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}

    <section>
        <h3>Stories</h3>
        <div id="map-stories" class="map-container">
            <div id="map-object" class="location-map" style="width: 100%; height: 70vh;"></div>
        </div>
    </section>


    <!-- Map - using Leaflet -->
    <!-- Load Leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <!-- Customise map on page -->
    <script>

        // Create a map object
        var map = L.map('map-stories', { scrollWheelZoom: false, attributionControl: false }).setView(['27.920219', '-15.547437'], 3);
        // Add tiles from Open Street Map to map object
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        // Loop through stories in database, grouped by location
        {% for location in object_list %}
            // Create the HTML to appear in the marker popup box
            var markerPopupHtml = `<strong>{{ location.name}}</strong>`;
            {% for story in location.story_set.all %} 
                markerPopupHtml += `<div>{{ story.description }}</div>`;
            {% empty %}
                markerPopupHtml += `<div>No stories to show</div>`;
            {% endfor %}
            // Add a marker for each on the map with the necessary HTML
            L.marker([{{ location.latitude }}, {{ location.longitude}}])
                .addTo(map)
                .bindPopup(markerPopupHtml);
        {% endfor %}

    </script>

{% endblock %}