{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}

    <div class="container">

        <h2>{% translate 'ShareTitle' %}</h2>
        <p>
            {% translate 'ShareIntro' %}
        </p>

        <div class="accordian">
            <!-- Video -->
            <div class="accordian-item">
                <div class="accordian-item-header">
                    <span class="accordian-item-header-text">{% translate 'ShareIntroVideoHeader' %}</span>
                    <span class="accordian-item-header-symbol">+</span>
                </div>
                <div class="accordian-item-body">
                    {% translate 'ShareIntroVideoBody' %}
                </div>
            </div>
            <!-- Audio -->
            <div class="accordian-item">
                <div class="accordian-item-header">
                    <span class="accordian-item-header-text">{% translate 'ShareIntroAudioHeader' %}</span>
                    <span class="accordian-item-header-symbol">+</span>
                </div>
                <div class="accordian-item-body">
                    {% translate 'ShareIntroAudioBody' %}
                </div>
            </div>
            <!-- No (but want to) -->
            <div class="accordian-item">
                <div class="accordian-item-header">
                    <span class="accordian-item-header-text">{% translate 'ShareIntroNoButWantToHeader' %}</span>
                    <span class="accordian-item-header-symbol">+</span>
                </div>
                <div class="accordian-item-body">
                    {% translate 'ShareIntroNoButWantToBody' %}
                </div>
            </div>
            <!-- No (just text) -->
            <div class="accordian-item">
                <div class="accordian-item-header">
                    <span class="accordian-item-header-text">{% translate 'ShareIntroNoJustTextHeader' %}</span>
                    <span class="accordian-item-header-symbol">+</span>
                </div>
                <div class="accordian-item-body">
                    {% translate 'ShareIntroNoJustTextBody' %}
                </div>
            </div>
        </div>

        <h2>{% translate 'ShareTitle2' %}</h2>
        <form id="story-create-form" enctype="multipart/form-data" name="form" method="POST" action="{% url 'story-create' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-submit-notes">
                {% translate 'ShareSubmitNotes' %}
            </div>
            <button id="story-create-submit" type="submit">{% translate 'ShareSubmit' %}</button>
        </form>

    </div>

    <script>
        $(document).ready(function() {

            // Toggle 'Location (other)' based on location
            $('#id_location').on('change', function() {
                if ($(this).val()) {
                    $('#id_location_other').parent().hide();
                } else {
                    $('#id_location_other').parent().show();
                }
            }).trigger('change');

            // Highlight labels of actively focused form elements
            $("input, select, textarea").each(function(){
                $(this).on('focus', function(){ $(this).prev().addClass('label-active'); });
                $(this).on('focusout', function(){ $(this).prev().removeClass('label-active'); });
            });

            // Assign default values to certain fields
            $('[name="data_use_agreements"]').prop('checked', true);


        });
    </script>

{% endblock %}