{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}

    <div class="container">
        <!-- Location -->
        {% if object.location %}
            <div class="story-location">{{ object.location }}</div>
        {% elif object.location_other %}
            <div class="story-location">{{ object.location_other }}</div>
        {% endif %}
        <!-- Video -->
        {% if object.video_url %}
            <div class="story-video youtube-container">
                <iframe width="560" height="315" src="{{ object.video_url_embed }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endif %}
        <!-- Audio -->
        {% if object.audio_player_embed_code %}
            <div class="story-audio">
                {{ object.audio_player_embed_code | safe }}
            </div>
        {% endif %}
        <!-- Description -->
        <div class="story-description">{{ object.description | linebreaks }}</div>
        <!-- Image -->
        {% if object.image %}
            <img class="story-image" src="{{ object.image.url }}" alt="Story image">
        {% endif %}
    </div>

{% endblock %}