{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
    
    <div id="welcome-banner">
        <div id="welcome-banner-title">
            <span>{% translate 'ProjectTitle1' %}</span> <strong>{% translate 'ProjectTitle2' %}</strong>
        </div>
    </div>
    
    <div class="container">
        <h2>{% translate 'WelcomeHeading' %}</h2>
        <p>
            {% translate 'WelcomeMessage1' %}
        </p>
        <p>
            {% translate 'WelcomeMessage2' %}
            <a href="{% url 'story-create' %}">{% translate 'WelcomeMessage3' %}</a>
        </p>
        <p>
            {% translate 'WelcomeMessage4' %}
            <a href="{% url 'participant-create' %}">{% translate 'WelcomeMessage5' %}</a>
        </p>
        <p>
            <a href="{% url 'story-list' %}" id="welcome-enteratlas">{% translate 'WelcomeMessage6' %}</a>
        </p>
    </div>

{% endblock %}