{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}
    <!-- <img src="{% static 'images/bg.jpg' %}" style="width: 100%; opacity: 0.9;"> -->
    
    <div id="welcome-banner">
        <div id="welcome-banner-title">
            Grammars of <strong>Judeo-Spanish</strong>
        </div>
        <div id="welcome-banner-tagline">
            A research project led by Dr Alice Corr at the University of Birmingham
        </div>
    </div>
    
    <div class="container">
        <h2>{% trans 'WelcomeHeading' %}</h2>
        <p>
            {% trans 'WelcomeMessage' %}
        </p>
    </div>

{% endblock %}