
/* ---------- General ---------- */

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    font-weight: 300;
    background-color: #1a1a1a;
}

a {
    color: #f39c12;
    font-weight: 500;
}

a:hover {
    color: #b3740f;
}

h1 {
    font-size: 0.85em;
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #f39c12;
    font-weight: 200;
}

h2 {
    padding-top: 2em;
    color: #f39c12;
    font-weight: 300;
    text-align: center;
    font-size: 1.7em;
    margin: 1.5em 0 1em 0;
}

h3 {
    padding: 2em 0 0.5em 0;
    color: #f39c12;
    font-weight: 500;
    text-align: left;
    font-size: 1.5em;
}

.iframe-large {
    display: block;
    margin: 0 auto;
    overflow: scroll;
    width: 100%;
    height: calc(90vh - 7em);
    border: none;
}

.youtube-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 0;
    height: 0;
    margin: 7em auto;
}

.youtube-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.accordian {
    margin: 3em auto;
}

.accordian-item {
    margin: 1em auto;
}

.accordian-item-header {
    background: #f39c12;
    color: black;
    padding: 0.8em 1.2em;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

.accordian-item-header:hover {
    opacity: 0.9;
}

.accordian-item-header span {
    display: inline-block;
}

.accordian-item-header-symbol {
    float: right;
    font-size: 1.8em;
    margin-top: -0.3em;
}

.accordian-item-body {
    background: rgba(255, 255, 255, 0.13);
    padding: 1.5em;
    display: none;
}


/* ---------- Forms ---------- */

label {
    display: block;
    margin-bottom: 0;
    margin-top: 2em;
    font-size: 0.95em;
}

label.label-active {
    color: #f39c12;
}

.helptext {
    font-size: 0.9em;
    color: #AAA;
}

.errorlist {
    color: red;
}

input,
textarea,
select,
button[type='submit'] {
    width: 100%;
    display: block;
    padding: 0.3em;
}

#story-create-form input,
#story-create-form textarea,
#story-create-form select {
    background: #EEE;
    border: none;
}

#story-create-form input[type='file'] {
    border: 1px solid white;
    background: none;
}

input[type='checkbox'] {
    display: inline;
    width: auto;
}

form ul {
    list-style: none;
    padding-left: 0;
}

form ul li {
    display: inline-block;
}

form ul li label {
    margin: 0.3em 2em 0 0;
    cursor: pointer;
}

form ul li label:hover {
    color: #f39c12;
}

button[type='submit'],
button[type='submit']:visited {
    background: #f39c12;
    border: none;
    color: black;
    font-weight: bold;
    padding: 1em;
    border-radius: 0.5em;
    margin: 3em 0 1em 0;
}

button[type='submit']:hover {
    background: #b3740f;
    color: black;
}

.form-submit-notes {
    font-size: 0.9em;
    color: #AAA;
}


/* ---------- Translation / Languages / i18n ---------- */

#language-show {
    z-index: 1000;
    position: fixed;
    bottom: 1em;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-size: 2.5em;
    border-radius: 0 100% 100% 0;
    background: #404040;
    cursor: pointer;
}

#language-show:hover {
    background: #f39c12;
}

#language-popup {
    position: fixed;
    bottom: 0.8em;
    left: -15em;
    width: 15em;
    background: #404040;
    color: white;
    padding: 1em;
    z-index: 1000;
}

#lang-options li {
    padding-bottom: 0.8em;
}

/* ---------- Navigation ---------- */

nav {
    background: #1a1a1a;
    text-transform: uppercase;
    vertical-align: middle;
}

.navbar-brand {
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.6em;
    color: #f39c12;
}

.navbar-nav {
    letter-spacing: 0.15em;
}

.nav-link {
    font-weight: 300;
    font-size: 1.1em;
    color: #fff;
}

.nav-link.active {
    color: #f39c12;
}

nav a:hover,
.dropdown-item:hover {
    color: #f39c12;
}

/* ---------- Main ---------- */

main {
    padding-bottom: 4em;
}

main p,
main ul,
main ol {
    font-size: 1.1rem;
    line-height: 2rem;
}

main a {
    text-decoration: none;
}

/* ---------- Welcome ---------- */

#welcome-banner {
    /* https://www.pexels.com/photo/snow-light-dawn-landscape-6793721/ */
	background: url('../images/bg.jpg');
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-color: #1a1a1a;
    height: calc(100vh - 3em);
}

#welcome-banner-title {
    text-align: center;
    padding-top: 30vh;
    font-weight: 100;
}

#welcome-banner-title span {
    opacity: 0.7;
}

#welcome-banner-title strong {
    opacity: 1;
}

#welcome-enteratlas {
    display: block;
    font-size: 1.2em;
    padding: 1.3em;
    width: 13em;
    text-align: center;
    margin: 4em auto;
    background: #f39c12;
    color: black;
}

/* ---------- About ---------- */

.team-member-name {
    margin-top: 3em;
    color: #f39c12;
    text-align: center;
    font-size: 1.3rem;
}

.team-member-role {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.team-member-photo {
    display: block;
    margin: 1em auto;
    width: 13em;
    border-radius: 100%;
    border: 0.2rem solid #f39c12;
}

/* ---------- Stories ---------- */

#map-object {
    width: 100%;
    height: calc(100vh - 5em);
    background: #1a1a1a;
}

.leaflet-popup-content-wrapper {
    max-height: 20em;
    overflow: scroll;
    font-size: 1.3em;
}

.map-stories-location {
    text-align: center;
    margin-bottom: 0.4em;
    font-size: 1.4em;
    font-weight: bold;;
}

.map-stories-link {
    display: block;
    padding: 0.3em 0.5em;
    border-bottom: 1px solid #DDD;
    color: black;
}

.map-stories-link:hover {
    color: #f39c12;
    background: orange;
    text-decoration: none;
}

/* ---------- Story Detail ---------- */

.story-location {
    font-size: 1.5em;
    text-align: center;
    margin: 4em 0 1em 0;
    color: #f39c12;
}

.story-description {
    font-size: 1.3em;
    margin: 2em 0;
}

.story-image {
    max-width: 50%;
    display: block;
    margin: 1em auto;
}

/* ---------- Story Create Success ---------- */

#story-create-success-ok {
    background: #f39c12;
    padding: 0.5em 2em;
    margin: 3em auto;
    display: block;
    width: 5em;
    color: black;
}

/* ---------- Footer ---------- */

footer {
    padding: 5em 0;
    text-align: center;
    font-size: 0.9em;
}

#footer-content-text {
    margin-top: 2em;
}

footer a:hover {
    color: #f39c12;
}

/* ---------- Error Pages ---------- */

.errorpage-path {
    font-weight: bold;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
