@media (max-width: 991px) {
    /* ---------- Navigation ---------- */

    nav h1 span{
        display: none;
    }

    .nav-item {
        margin-top: 1em;
    }

    .nav-item:last-of-type {
        margin-bottom: 1em;
    }

    .navbar-toggler {
        color: #FFF;
        font-size: 1.7em;
        padding-right: 0.4em;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 3.39em;
        min-height: calc(100vh - 3.39em);
    }

    /* ---------- Welcome ---------- */

    #welcome-banner-title {
        padding-top: 20vh;
        font-size: 2.7em;
    }

    /* ---------- Stories ---------- */

    #map-object {
        height: calc(100vh - 10em);
    }
    
    /* ---------- Footer ---------- */

    #footer-content img {
        height: auto;
        width: 25em;
        max-width: 100%;
        margin: 0 auto 2em auto;
        display: block;
    }
}
