
/* ---------- General ---------- */

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0;
    font-weight: 300;
    background-color: #1a1a1a;
}

a {
    color: #f39c12;
    font-weight: 500;
}

a:hover {
    color: #b3740f;
}

h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    line-height: 1em;
    color: #f39c12;
    font-weight: 200;
}

h2 {
    padding-top: 2em;
    color: #f39c12;
    font-weight: 300;
    text-align: center;
    font-size: 1.7em;
    margin: 1.5em 0 1em 0;
}

h3 {
    padding: 2em 0 0.5em 0;
    color: #f39c12;
    font-weight: 500;
    text-align: left;
    font-size: 1.5em;
}

.iframe-large {
    display: block;
    margin: 0 auto;
    overflow: scroll;
    width: 100%;
    height: calc(90vh - 7em);
    border: none;
}

/* ---------- Forms ---------- */

label {
    display: block;
    margin-bottom: 0;
    margin-top: 2em;
    font-size: 0.95em;
}

.helptext {
    font-size: 0.9em;
    color: #AAA;
}

.errorlist {
    color: red;
}

input,
textarea,
select,
button[type='submit'] {
    width: 100%;
    display: block;
    padding: 0.3em;
}

input[type='file'] {
    border: 1px solid white;
}

input[type='checkbox'] {
    display: inline;
    width: auto;
}

form ul {
    list-style: none;
    padding-left: 0;
}

form ul li {
    display: inline-block;
}

form ul li label {
    margin: 0.3em 2em 0 0;
    cursor: pointer;
}

form ul li label:hover {
    color: #f39c12;
}

button[type='submit'],
button[type='submit']:visited {
    background: #f39c12;
    border: none;
    color: black;
    font-weight: bold;
    padding: 1em;
    border-radius: 0.5em;
    margin: 3em 0 1em 0;
}

button[type='submit']:hover {
    background: #b3740f;
    color: black;
}

.form-submit-notes {
    font-size: 0.9em;
    color: #AAA;
}







/* ---------- Translation / Languages / i18n ---------- */

#language-show {
    z-index: 1000;
    position: fixed;
    bottom: 1em;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    font-size: 2.5em;
    border-radius: 0 100% 100% 0;
    background: #404040;
    cursor: pointer;
}

#language-show:hover {
    background: #f39c12;
}

#language-popup {
    position: fixed;
    bottom: 0.8em;
    left: -15em;
    width: 15em;
    background: #404040;
    color: white;
    padding: 1em;
    z-index: 1000;
}

/* ---------- Navigation ---------- */

nav {
    background: #1a1a1a;
    text-transform: uppercase;
    vertical-align: middle;
}

.navbar-brand {
    display: inline-block;
    text-transform: capitalize;
    font-size: 1.6em;
    color: #f39c12;
}

.navbar-nav {
    letter-spacing: 0.15em;
}

.nav-link {
    font-weight: 300;
    font-size: 1.1em;
    color: #fff;
}

.nav-link.active {
    color: #f39c12;
}

nav a:hover,
.dropdown-item:hover {
    color: #f39c12;
}

/* ---------- Main ---------- */

main {
    padding-bottom: 4em;
}

main p,
main ul,
main ol {
    font-size: 1.1rem;
    line-height: 2rem;
}

main a {
    text-decoration: none;
}

/* ---------- Welcome ---------- */

.twittertimeline-container {
    display: block;
    overflow: auto;
    width: 30em;
    max-width: 90%;
    height: 40em;
    margin: 0 auto;
}

/* ---------- About ---------- */

.team-member-name {
    margin-top: 3em;
    color: #f39c12;
    text-align: center;
    font-size: 1.3rem;
}

.team-member-role {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 1em;
}

.team-member-photo {
    display: block;
    margin: 1em auto;
    width: 13em;
    border-radius: 100%;
    border: 0.2rem solid #f39c12;
}

/* ---------- Stories ---------- */

#map-object {
    width: 100%;
    height: calc(100vh - 5em);
    background: #1a1a1a;
}

/* ---------- Footer ---------- */

footer {
    padding: 5em 0;
    text-align: center;
    font-size: 0.9em;
}

#footer-content-text {
    margin-top: 2em;
}

footer a:hover {
    color: #f39c12;



}

/* ---------- Error Pages ---------- */

.errorpage-path {
    font-weight: bold;
}

.errorpage-code {
    margin-top: 3em;
    font-size: 0.8em;
}
