@media (min-width: 992px) {
    /* ---------- Navigation ---------- */

    .navbar-brand {
        padding-left: 0.3em;
    }

    .nav-link {
        margin-left: 1em;
        margin-right: 2em;
    }

    /* ---------- Main ---------- */

    main {
        margin-top: 3.671em;
        min-height: calc(100vh - 3.671em);
    }

    /* ---------- Welcome ---------- */

    #welcome-banner-title {
        padding-top: 30vh;
        font-size: 3.6em;
    }

    #welcome-banner-tagline {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
    
    /* ---------- Footer ---------- */

    #footer-content img {
        height: 6em;
        margin: 0 4em 2em 4em;
        display: inline-block;
    }
}
